<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZmstVHs3pLsNO9QFBJSKeiKkHMp8BxBE</string>
	<key>GCM_SENDER_ID</key>
	<string>273827032479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xplore360</string>
	<key>PROJECT_ID</key>
	<string>nayaproject-d97d5</string>
	<key>STORAGE_BUCKET</key>
	<string>nayaproject-d97d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273827032479:ios:829ad3541c8b9f999721aa</string>
</dict>
</plist>